
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}

body {
  font-weight: 600;
  margin: 0;
  padding: 1rem;
  display: flex;
  background-color: #0F172A;
  color: white;
  justify-content: center;
  box-sizing: border-box;
  min-height: 100vh;
}

.simulation-container {
  width: 100%;
  max-width: 600px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  h1 {
    font-size: 3rem;
    margin-bottom: 4rem;
    text-align: center;
  }

  .input-container {
    margin: 1rem;

    label {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    input {
      width: 100%;
      padding: 2px 4px;
      border-radius: 5px;
      transition: border-color 0.2s;
      box-sizing: border-box;
    }
  }

  button {
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    margin: 2em;
    color: white;
  }

  button:active {
    transform: scale(0.98);
    box-shadow: inset 1px 2px 3px black;
  }

  button:hover {
    box-shadow: 1px 2px 3px rgb(121, 100, 255);
    cursor: pointer;
  }
}

@media (min-width: 600px) {
  .form-section {
    .input-container {
      width: 60%;
    }
  }
}

.result-section {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;

  .map-results {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
  }

  .charts-container{
    
  }


}