html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html{
  scroll-behavior: smooth;
  font-size: 12px;
}
body{
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  background-color: #0F172A;
  color: white;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  min-height: 100vh; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  box-sizing: border-box;
}
.upper{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 3rem;
    margin: 0;
    margin-bottom: 4rem;
    padding: 0;
    text-align: center;
  }
 
  .input-container{
    margin: 1rem;
    width: 50%;
    input{
      width: 100%;
      padding: 2px 4px;
      border-radius: 5px;
      transition: border-color 0.2s;
      box-sizing: border-box;
    }
  }
  button{
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    padding: 1rem;
    margin: 2em;
    color: white;
  }
  button:active{
    transform: scale(0.98);
    box-shadow: inset 1px 2px 3px black;
  }
  button:hover{
    box-shadow: 1px 2px 3px rgb(121, 100, 255);
    cursor: pointer;
  }
}
@media (min-width: 600px){

}
